<div class="container container-mobile" id="user-detail">
  <div class="row">
    <a class="col-xs-12" href="<%= index_mobil_path %>">
      <img src="/fusepong.png" alt="" class="img-responsive logo">
    </a>
    <div class="col-xs-4" id="team">
      <img src="http://placehold.it/100x100" class="img-responsive avatar"> 
      <%= form_tag(dailies_mobile_path(@user, @user.dailies.build), html: { class: '' }) do %>
        <ul>
          <% @new_daily.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>

        <div class="form-group">
          <%= collection_select :daily, :project_id, @user.projects, :id, :name, {}, {class: "form-control", placeholder: "Projects"} %>
        </div>

        <div class="form-group">
        <%= collection_select :daily, :daily_time_id, DailyTime.all, :id, :name, {}, {class: "form-control", placeholder: "Time"} %>
        </div>

        <div class="form-group">
          <%= text_field :daily, :date, { class: 'form-control datepicker', placeholder: 'Date' } %>
        </div>

        <div class="form-group">
          <%= text_area :daily, :comments, { class: 'form-control', placeholder: 'Comments' } %>
        </div>

        <%= render "layouts/messages" %>
        
        <%= submit_tag 'New Daily', class: 'btn btn-primary'%>
      <% end %>
    </div>
    <!-- /.col-xs-8 -->
    <div class="col-xs-8" id="calendar-container">
      <!-- User Calendar  -->
      <div id="calendar" data-userid="<%= @user.id %>"></div>    
    </div>
    <!-- /.col-xs-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
