<table class="table table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Client</th>
      <th>Started at</th>
      <th class="text-center">Sprints</th>
      <th class="text-center">Dailies</th>
      <th class="text-center">Hours</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.description, project %></td>
        <td><%= project.client %></td>
        <td><%= project.started_at %></td>
        <td class="text-center"><%= project.sprints.count %> / <%= project.month_sprints_count %></td>
        <td class="text-center"><%= project.month_dailies_count %> / <%= project.dailies_count %></td>
        <td class="text-center"><%= project.month_hours %> / <%= project.hours %> </td>
      </tr>
    <% end %>
  </tbody>
</table>