<!-- User Dailies Table  -->
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Project</th>
          <th>Sprint</th>
          <th>Date</th>
          <th>Time</th>
          <th>Comments</th>
        </tr>
      </thead>

      <tbody>
        <% @user.dailies.each do |daily| %>
          <% if daily.sprint != nil %>
            <tr>
              <td><%= daily.sprint.project.name %></td>
              <td>Sprint <%= daily.sprint.number %></td>
              <td><%= daily.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= daily.daily_time.name %></td>
              <td><%= daily.comments %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.col-xs-12 -->
</div>
<!-- /.row -->
