<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th class="text-center">Dailies (month / total)</th>
      <th class="text-center">Hours (month / total)</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td class="text-center"><%= user.month_dailies_count %> / <%= user.dailies_count %></td>
        <td class="text-center"><%= user.month_hours %> / <%= user.hours %></td>              
      </tr>
    <% end %>
  </tbody>
</table>