<%= render "layouts/developer/navbar" %>

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
            My Account
          </h1>
          
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <!-- User projects  -->
    <%= render "users/account_projects" %>
    <!-- User dailies  -->
    <div class="col-xs-12">
      <h2 class="h4">Dailies:</h2>
      <hr>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">      
          <%= form_tag(dailies_path(@user, @user.dailies.build), html: { class: '' }) do %>
            
            <div class="form-group">
              <%= collection_select :daily, :project_id, @projects, :id, :name, {}, {class: "form-control", placeholder: "Projects"} %>
            </div>

            <div class="form-group">
            <%= collection_select :daily, :daily_time_id, DailyTime.all, :id, :name, {}, {class: "form-control", placeholder: "Time"} %>
            </div>

            <div class="form-group">
              <%= text_field :daily, :date, { class: 'form-control datepicker', placeholder: 'Date' } %>
            </div>

            <div class="form-group">
              <%= text_area :daily, :comments, { class: 'form-control', placeholder: 'Comments' } %>
            </div>
            
            <%= submit_tag 'New Daily', class: 'btn btn-primary'%>
          <% end %>
        </div>
        <div class="col-md-9 col-sm-6 col-xs-12">
          <!-- User Calendar  -->
          <div id="calendar" data-userid="<%= @user.id %>"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->