<%= render "layouts/developer/navbar" %>

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
            <%= link_to 'Team /', users_developer_path, class: 'breadcrumb-text' %> 
            <%= @user.name %>
          </h1>
          
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- User info -->
      <%= render "users/info" %>
      <hr>
      <%= render "users/developer_projects" %>
    </div>
    <div class="col-xs-12 col-sm-8">
      <!-- User Calendar  -->
      <div id="calendar" data-userid="<%= @user.id %>"></div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->