<%= render "layouts/developer/navbar" %>

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
            <%= link_to 'Users /', users_developer_path, class: 'breadcrumb-text' %> 
            <%= @user.name %>
          </h1>
          
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <!-- User info -->
    <div class="col-xs-12 col-sm-5">
      <p id="notice"><%= notice %></p>
      <div class="col-xs-12">
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
      </div>
    </div>

    <!-- User projects  -->
    <div class="col-xs-12 col-sm-7">
      <!-- User Sprint Table  -->
      <h2 class="h4">Projects:</h2>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Description</th>
                <th>Client</th>
                <th>Started at</th>
                <th class="text-center">Sprints</th>
              </tr>
            </thead>

            <tbody>
              <% @user.projects.each do |project| %>
                <tr>
                  <td><%= link_to project.description, project_developer_path(project) %></td>
                  <td><%= project.client %></td>
                  <td><%= project.started_at %></td>
                  <td class="text-center"><%= project.sprints.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->