<p id="notice"><%= notice %></p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>
<p>
  <strong>Started at:</strong>
  <%= @sprint.started_at %>
</p>
<p>
  <strong>Production dates:</strong>
  <% @sprint.sprint_productions.each do |production| %>
    <span class="label label-success"><%= production.date %></span>
  <% end %>
</p>

<p>
  <strong>Weeks:</strong>
  <%= @sprint.weeks %>
</p>
<p>
  <strong>Dailies:</strong>
  <%= @sprint.dailies_count %> / <%= @sprint.month_dailies_count %>
</p> 
<p>
  <strong>Hours:</strong>
  <%= @sprint.hours %> / <%= @sprint.month_hours %>
</p>    
