<%= render "layouts/developer/navbar" %>

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
          	<%= link_to 'Projects /', projects_developer_path, class: 'breadcrumb-text' %> 
            <%= link_to "#{ @sprint.project.name } / ", project_developer_path(@sprint.project), class: 'breadcrumb-text' %> 
            Sprint <%= @sprint.number %>
          </h1>
          
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <!-- Project info -->
    <div class="col-xs-12 col-sm-5 col-md-3">
      <%= render "sprints/info" %>
    </div>
    <!-- Table users -->
    <div class="col-xs-12 col-sm-7 col-md-9">
      <div id="sprint-calendar" data-sprintid="<%= @sprint.id %>" data-projectid="<%= @sprint.project.id %>"></div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->