<div class="container container-mobile" id="project-detail">
  <div class="row">
    <a class="col-xs-12" href="<%= index_mobile_path %>">
      <img src="/fusepong.png" alt="" class="img-responsive logo">
    </a>
    <div class="col-sm-4" id="team">
      <div class="row">
        <a href="#" class="col-xs-12 project" style="background-color: <%= @project.color %>">
          <%= @project.name %>
        </a>      
      </div>

      <div class="row project-users">
        <% @project.users.each do |user| %>
          <a href="<%= team_mobile_path(user) %>" class="col-xs-4 col-sm-6 avatar">
            <img src="<%= user.avatar %>" class="img-responsive">
            <p><%= user.name %></p>
          </a>
        <% end %>
      </div>

    </div>
    <!-- /.col-xs-8 -->
    <div class="col-sm-8" id="calendar-container">
      <!-- User Calendar  -->
      <div id="project-calendar" data-projectid="<%= @project.id %>"></div>    
    </div>
    <!-- /.col-xs-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
