<div class="container container-mobile" id="user-detail">
  <div class="row">
    <a class="col-xs-12" href="<%= index_mobile_path %>">
      <img src="/fusepong.png" alt="" class="img-responsive logo">
    </a>
    <div class="col-xs-12 col-sm-4" id="team">
      <img src="<%= @user.avatar %>" class="img-responsive avatar"> 
      <%= form_tag(dailies_mobile_path(@user, @user.dailies.build), html: { class: '' }) do %>
        <ul>
          <% @new_daily.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        
        <div class="form-group">
          <label for="">Project</label>
          <div class="radio-button">
            <% @user.projects.each do |project| %>
              <%= radio_button_tag "daily[project_id]", project.id, false %>
              <%= label_tag "daily[project_id][#{project.id}]", project.name, :class => "btn", :style => "background: #{project.color}" %> 
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <label for="">Time</label>
          <div class="radio-button">
            <% DailyTime.all.each do |daily| %>
              <%= radio_button_tag "daily[daily_time_id]", daily.id, false %>
              <%= label_tag "daily[daily_time_id][#{daily.id}]", daily.name, :class => "btn" %> 
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= text_field :daily, :date, { class: 'form-control datepicker', placeholder: 'Date' } %>
        </div>

        <div class="form-group">
          <%= text_area :daily, :comments, { class: 'form-control', placeholder: 'Comments' } %>
        </div>

        <%= render "layouts/messages" %>
        
        <%= submit_tag 'New Daily', class: 'btn btn-primary'%>
      <% end %>
    </div>
    <!-- /.col-xs-8 -->
    <div class="col-xs-12 col-sm-8" id="calendar-container">
      <!-- User Calendar  -->
      <div id="calendar" data-userid="<%= @user.id %>"></div>    
    </div>
    <!-- /.col-xs-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
