<div class="container container-mobile" id="user-detail">
  <div class="row">
    <a class="col-xs-8" href="<%= index_mobile_path %>">
      <img src="/fusepong.png" alt="" class="img-responsive logo">
    </a>
    <div class="col-xs-4">
      <img src="<%= @user.avatar %>" class="img-responsive avatar"> 
    </div>
    <div class="col-xs-12 col-sm-4" id="team">
      <%= form_tag(dailies_mobile_path(@user, @user.dailies.build), html: { class: '' }) do %>
        <ul>
          <% @new_daily.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        
        <div class="form-group">
          <label for="">Project</label>
          <div class="radio-button">
            <% @user.projects.each do |project| %>
              <%= radio_button_tag "daily[project_id]", project.id, false %>
              <label for='<%= "daily_project_id_#{project.id}" %>' class="btn" style='<%= "background: #{project.color}" %>'>
                <span> <%= project.name %> </span>
              </label>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <label for="">Time</label>
          <div class="radio-button">
            <% DailyTime.all.each do |daily| %>
              <%= radio_button_tag "daily[daily_time_id]", daily.id, false %>
              <label for='<%= "daily_daily_time_id_#{daily.id}" %>' class="btn"><span> <%= daily.name %> </span></label>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= text_field :daily, :date, { class: 'form-control datepicker input-lg', placeholder: 'Date' } %>
        </div>

        <div class="form-group">
          <%= text_area :daily, :comments, { class: 'form-control input-lg', placeholder: 'Comments', :rows => "4" } %>
        </div>

        <%= render "layouts/messages" %>
        
        <div class="form-group">
          <%= submit_tag 'New Daily', class: 'btn-lg btn btn-primary btn-block' %>
        </div>

      <% end %>
    </div>
    <!-- /.col-xs-8 -->
    <div class="col-xs-12 col-sm-8" id="calendar-container">
      <!-- User Calendar  -->
      <div id="calendar" data-userid="<%= @user.id %>"></div>    
    </div>
    <!-- /.col-xs-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
