<%= render "layouts/admin/navbar" %>

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
          	<%= link_to 'Projects /', projects_path, class: 'breadcrumb-text' %> 
            <%= @project.name %>
          	<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' %>    
          </h1>
          
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <!-- Project info -->
    <div class="col-xs-12 col-sm-4">
      <p id="notice"><%= notice %></p>
      <div class="col-xs-12">
        <p>
          <strong>Description:</strong>
          <%= @project.description %>
        </p>
        <p>
          <strong>Client:</strong>
          <%= @project.client %>
        </p>
        <p>
          <strong>Started at:</strong>
          <%= @project.started_at %>
        </p>
        <p>
          <strong>Calculated sprints:</strong>
          <%= @project.calculated_sprints %>
        </p>
        <p>
          <strong>Dailies:</strong>
          <%= @project.dailies_count %> 
        </p> 
        <p>
          <strong>Hours:</strong>
          <%= @project.hours %> 
        </p>    
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
      <h2 class="h4">Team (<%= @project.users.count %>):</h2>
      <%= render "users/table" %>
    </div>

    <!-- Project sprints  -->
    <div class="col-xs-12">
      <hr>
      <div class="col-xs-12">
        <h2 class="h4">Sprints (<%= @project.sprints.count %>):</h2>
      </div>
      
      <div class="col-xs-12 col-sm-3">
        <!-- New Project Sprint  -->
        <%= form_tag project_sprints_path(@project), method: "POST" do %>
          <div class="form-group">
            <%= text_field_tag 'sprint[started_at]', nil, class: 'form-control datepicker', placeholder: 'Started at' %>
          </div>

          <div class="form-group">
            <%= text_field_tag 'sprint[sprint_productions][date]', nil, class: 'form-control datepicker-multiple', placeholder: 'Production dates' %>
          </div>

          <div class="form-group">
            <%= number_field_tag 'sprint[weeks]', nil, class: 'form-control', placeholder: 'Weeks' %>
          </div>

          <div class="form-group">
            <%= render "layouts/messages" %>
          </div>

          <%= submit_tag 'New Sprint', class: 'btn btn-primary'%>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-9">
        <!-- Project Sprint Table  -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Sprint</th>
              <th class="text-center">Weeks</th>
              <th>Started at</th>
              <th class="text-center">Dailies</th>
              <th class="text-center">Hours</th>
              <th>Production dates</th>
            </tr>
          </thead>

          <tbody>
            <% @project.sprints.order(number: :desc).each do |sprint| %>
              <tr>
                <td><%= link_to "Sprint #{sprint.number}", [@project, sprint] %></td>
                <th class="text-center"><%= sprint.weeks %></th>
                <td><%= sprint.started_at %></td>
                <td class="text-center"> <%= sprint.dailies.count %> </td>
                <td class="text-center"> <%= sprint.time_hours %></td>
                <td>
                  <% sprint.sprint_productions.each do |production| %>
                    <span class="label label-success"><%= production.date %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.col-xs-12.col-sm-5 -->
    </div>
    <!-- /.col-xs-12 -->

    
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->